
.tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    white-space: nowrap; 
    text-align: center;
    border-radius: 4px;
    transition: opacity 0.2s;
}

.product__hover a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}