{% extends 'header.html' %}
{% block content %}
{% load static %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>forgot-password</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mx-auto" >
                    <div class="contact__content " >
                        {% if msg%}
                            <p style="background-color: lightcoral; color: white; display: inline-block; padding: 0px 10px; border-radius: 5px; text-align: center">{{msg}}</p>
                        {% endif %}
                        
                        <div class="contact__form">
                            <h5>Forgot password</h5>
                            <form method="POST" action="{% url 'forgot-password'%}">
                                {% csrf_token %}                                                                                             
                                <input type="text" placeholder="Enter Mobile Number" name="mobile">                                         
                                <button type="submit" class="site-btn">Send Otp</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
{% endblock%}