{% extends 'seller-header.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="col-md-6 grid-margin stretch-card mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            <p class="card-description text-danger">{{ msg }}</p>
            <form class="forms-sample material-form" method="POST" action="{% url 'change-password' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="role" value="{{ role }}">
                    <input type="password" name="old_password" required="required" />
                    <label for="input" class="control-label">Old Password</label><i class="bar"></i>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password" required="required" />
                    <label for="input" class="control-label">New Password</label><i class="bar"></i>
                </div>
                <div class="form-group">
                    <input type="password" name="cnew_password" required="required" />
                    <label for="input" class="control-label">Confirm New Password</label><i class="bar"></i>
                </div>
                <div class="button-container">
                    <button type="submit" class="button btn btn-primary"><span>Submit</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
