{% extends 'seller-header.html' %}

{% block title %}Add Category{% endblock %}

{% block content %}

<div class="col-md-8 grid-margin stretch-card mx-auto">
    <div class="card">
        {% if msg %}
        <p style="font-size: 18px;" class="card-description p-3 text-white text-center bg-success">{{ msg }}</p>
        {% endif %}
        <div class="card-body">
            <h4 class="card-title text-center">Add Category</h4>            
            <form class="forms-sample material-form" enctype="multipart/form-data" method="POST" action="{% url 'seller-add-category' %}">
                {% csrf_token %}                
                <div class="form-group">                    
                    <input type="text" name="category_name" required="required" />
                    <label for="input" class="control-label">Category Name</label><i class="bar"></i>
                </div>                
                <div class="button-container">
                    <button type="submit" class="button btn btn-primary"><span>Submit</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
